@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

$background-color: #fbe9e9;
$header-bg-color: #fa7a7a;
$row-hover-color: #f6c7c7;
$border-color: #e2d5d5;
$background-color-second: #f8e5e5;
$text-color: #5f5959;
$header-text-color: #4c4444;
$font-family: "Roboto", sans-serif;

.load-more-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

button.mat-raised-button {
  margin-top: 20px;
  font-weight: 500;
  padding: 0 30px;
  background-color: red;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);

  &:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
  }
}

.table-header {
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  h1 {
    color: $header-text-color;
    font-family: $font-family;
    font-size: 24px;
    font-weight: 500;
  }
}

.mat-elevation-z8 {
  margin: 20px;
  background-color: $background-color;
  border-radius: 10px;
  overflow: hidden;
  font-family: $font-family;
  table {
    width: 100%;
    margin: 0;
    border-collapse: separate;
    border-spacing: 0;
    transition: all 0.3s ease;
    tr {
      &:nth-child(even) {
        background-color: $background-color-second;
      }
    }
    th,
    td {
      padding: 16px 24px;
      transition: background-color 0.3s ease;
    }
    th {
      background-color: $header-bg-color;
      color: $header-text-color;
      font-weight: 500;
      font-size: 16px;
      text-align: left;
    }
    td {
      background-color: transparent;
      color: $text-color;
      font-weight: 400;
      font-size: 14px;
      border-bottom: 1px solid $border-color;
    }
    tr {
      &:last-child {
        td {
          border-bottom: none;
        }
      }
      &:hover td {
        background-color: $row-hover-color;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .mat-elevation-z8 {
    table {
      th,
      td {
        padding: 10px;
      }
    }
  }
}
